@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat&display=swap');
html{
    height: 100%;
}
nav a#logo{
    font-weight: bold;
}
h1{
    font-weight: bolder;
}
nav.navbar{
    position: sticky;
    top: 0px;
}
nav a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
nav a:hover{
    text-decoration: none;
    color: aliceblue;
    border-bottom: 3px solid aliceblue;
    transition: .1s linear;

}
.content{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.text{
    width: 65%;
    display: flex ;
    flex-direction: column;
    align-items: center;
}
.images{
    width: 25%;
    align-items: center;
    margin: auto;

}
.img{
    border-radius: 5px;
    width: 100%;
    height: 80%;
    padding: 20px;
    background-color: rgba(223, 113, 23, 0.685);
}

#formas{
    width: 30%;
    margin: auto;

}
div#indice{
    margin-left: 10%;
    
    width: 30%;
    padding: 15px;
    border: 3px black solid;
}
content li{
    float: left;
}